@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to SharePoint search API</h1>
<p class="text-info">
    This is a simple web application that uses the SharePoint search API to 
    search for documents in a SharePoint site. 
</p>

