@page "{query?}"
@model SearchSharepoint.Web.Pages.SP.IndexPageModel

@{
    ViewData["Title"] = "Search through Sharepoint";
}

<h2>Use search form below to search for API</h2>

<form method="get">
    <div class="form-group">
        <label asp-for="Query"></label>
        <input asp-for="Query" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>